body{
    font-family: "Prompt", sans-serif;
    margin:0px;
    height: 120vh;
    overflow-x: hidden;
}
.first-page{
    padding: 0px 60px 100px 60px;
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    position: relative;
    z-index: 1;
    }
.head-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.get-now-btn{
    background-color: rgba(243, 233, 233, 0.5);
    border-radius: 3px;
    padding: 10px 18px; 
    border: 1px solid whitesmoke;
    text-decoration: none;
    color: black;
    
}
/* ------------------------------------------------------------ */
.contact-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 15vh;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    height: 63vh;
    width: 63vh;
    border: none;
    position: relative;
    
}
form::after{
    content:"";
    background-color: #E7E5FF;
    height: 2px;
    width: 99%;
    position: absolute;
    top: 0px;
    left: 0px;
    
}
input::placeholder {
    color: #C1C1C1;
    font-family: "Prompt", sans-serif;
}
input{
    padding: 13px;
    width: 93%;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 2px solid white; 
    background-color: rgba(239, 234, 234, 0.612);
    box-shadow: 0px 0px 7px rgb(246, 244, 244);
    border-radius: 7px;
}
.form{
    display: flex; 
    align-items: center;
    justify-content: end;
    /* z-index: 3; */
    flex-direction: column;
}
.services-or-team-container{
    margin-bottom: 15px;
    z-index: 1;
}
.use-services{
    width: 30vh;
    height: 7vh;
    background-color: #6259EA;
    color: #FFFFFF; 
    font-size: 15px;
    box-shadow: 0px 0px 7px rgb(246, 244, 244);
    border: 2px solid white; 
    border-radius: 7px;
}
.join-team{
    width: 30vh;
    height: 7vh;
    background-color: #6259EA;
    color: #FFFFFF; 
    font-size: 15px;
    box-shadow: 0px 0px 7px rgb(246, 244, 244);
    border: 2px solid white; 
    border-radius: 7px;
}
.background-image{
    width: 20%;
    position: absolute;
    transform: rotate(-51deg);
    right: 5vh;
    top: 28vh;
}
.submit-btn{
    width: 100%;
    height: 7vh;
    background-color: #6259EA;
    color: #FFFFFF; 
    font-size: 15px;
    box-shadow: 0px 0px 7px rgb(246, 244, 244);
    border: 2px solid white; 
    border-radius: 7px;
   
}
form {
    transition: transform 0.6s ease; /* Додаємо плавну анімацію для трансформацій */
    transform-style: preserve-3d; /* Зберігаємо 3D стиль для перевороту */
}

form.flip {
    transform: rotateY(180deg); /* Перевертаємо форму по осі Y */
}

.form-valid {
    backface-visibility: hidden; /* Сховати задню частину при перевороті */
}


.service-form.active{
    display: block;
}
.join-team-form.active{
    display: block;
}
.service-form,.join-team-form{
    display: none;
}
.input.error {
    border: 2px solid red;
}
.submit-message h3{
    color: #6259EA;
    text-align: center;
}
/* ----------------------------- */
.footer{
    background-color: #1A1930;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
    height: 40vh;
}
.gmail{
    text-decoration: none;
    color: #FFFFFF;
}
.span-webflow{
    color: #6259EA;
}
.footer-items-menu{
    display: flex;
    align-items: center;
    gap: 5rem;
    padding-right: 7rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-right: 15vh;
    line-height: 2.7;
    position: relative;
}

.footer-items-menu::after{
    content: "";
    background: #cbc4c4;
    height: 1px;
    width: 123.5%;
    position: absolute;
    top: 0px;
    left: 0px;  
}
.footer-items-menu::before{
    content: "";
    background: #cbc4c4;
    height: 1px;
    width: 123.5%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
li{
    list-style-type: none;
}
.orange-tube-footer{
 position: absolute;
 right: 0px;
 z-index: 1;
 width: 35vh;
}
.footer-menu-link{
    text-decoration: none;
    color:#FFFFFF;
}